assignment_package/environment_maps/*
assignment_package/models/*
*.pro.user
build-*
!assignment_package/models/skull.obj
!assignment_package/models/sword.obj
!assignment_package/models/custom
!assignment_package/models/skull.json
!assignment_package/models/sword.json
code/models/fishscale/fish_scale_roughness.png
code/models/fishscale/fish_scale_normal.png
code/models/fishscale/fish_scale_metallic.png
code/models/fishscale/fish_scale_basecolor.png
code/models/fishScale.json
code/models/custom/turquoise_basecolor.png
code/models/custom/fish_scale_roughness.png
code/models/custom/fish_scale_normal.png
code/models/custom/fish_scale_metallic.png
code/models/custom/fish_scale_basecolor.png
